.LikedComments {
  /* border: 1px solid red; */
  width: 100%;
  padding: 20px;
}

.LikedComments .likedComments_title > h4 {
  font-size: 1.3rem;
}

.LikedComments .likedComments_content {
  cursor: pointer;
  padding: 10px 5px;
}

.LikedComments .likedComments_content:hover {
}

.LikedComments .likedComments_hr {
  border: none; /* 기본 테두리 제거 */
  height: 0.5px; /* 높이 지정 */
  background-color: #ededed; /* 색 지정 */
  margin: 20px 0; /* 위아래 여백*/
}
