.UpcomingList {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.UpcomingList .upcomingList_img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.UpcomingList .upcomingList_title > div {
  width: 250px;
}

.UpcomingList .upcomingList_link {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(22, 22, 22);
}
