.Button {
  width: 100%;
  padding: 13px;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.Button.Button_RED {
  background-color: red;
  color: white;
}

.Button.Button_GOOGLE {
  color: black;
  background-image: url("../assets/g-logo.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center; /* 왼쪽 안쪽에 아이콘 위치 */
  padding-left: 30px;
}

.Button.Button_KAKAO {
  background-image: url("../assets/k-logo.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center; /* 왼쪽 안쪽에 아이콘 위치 */
  padding-left: 30px;
  background-color: #fee500;
  color: black;
}
