.mySwiper {
  width: 100%;
  height: 600px; /* 원하는 높이 */
  position: relative; /* z-index 기준 */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
} */

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-button-next,
.swiper-button-prev {
  color: white; /* 원하는 색상 */
}

.autoplay-progress {
  color: white;
}

.autoplay-progress svg {
  stroke: white;
}

.swiper-pagination-bullet {
  background-color: white;
}

.movieCarouselStill {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel_movieSubTitle {
  position: absolute;
  bottom: 23%;
  left: 5%;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.carousel_movieTitle {
  font-size: 4rem;
  position: absolute; /* 부모 기준 절대 위치 */
  bottom: 10%; /* 아래쪽에서 10px 위 */
  left: 5%; /* 왼쪽에서 10px 오른쪽 */
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.carousel_rank {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(184, 0, 0);
}
