.Header {
  /* border: 1px solid red; */
  padding: 0px 5%;
  white-space: nowrap;
  /* position: sticky; */
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;

  transition: background-color 0.3s ease;
}

.Header_HOME,
.Header_CONTENTS {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.Header_ZZIM,
.Header_MOVIE,
.Header_MYPAGE {
  background-color: #000000;
  position: sticky;
}

.Header .nav {
  display: flex;
  height: 65px;
  align-items: center;
}

.Header .nav > div {
  gap: 20px;
}

.Header .nav > div > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 14px;
  transition: color 0.3s ease;
}

.Header .menu_left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: color 0.3s ease;
}

.Header .menu_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header .nav .menu_left > a:hover,
.Header .nav .menu_left > a.active {
  color: white;
}

.Header.sticky {
  position: fixed;
  background-color: black;
  transition: background-color 0.5s ease;
}

.Header .menu_right > div {
  color: white;
}

.Header .NAEGA_BOX_LOGO {
  width: auto;
  height: 31px;
}
