.Header {
  /* border: 1px solid red; */
  padding: 0px 5%;
  white-space: nowrap;
  /* position: sticky; */
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;

  transition: background-color 0.3s ease;
}

.Header_HOME {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.Header_ZZIM,
.Header_MOVIE {
  background-color: rgb(0, 0, 0);
}

.Header .nav {
  display: flex;
  height: 65px;
  align-items: center;
}

.Header .nav > div {
  gap: 20px;
}

.Header .nav > div > a {
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: 14px;
  transition: color 0.3s ease;
}

.Header .menu_left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  transition: color 0.3s ease;
}

.Header .menu_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header .searchBar {
  border: none;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0); /* 검정 배경, 50% 투명 */
  border-bottom: 1px solid white;
  color: white;
  height: 35px;
  width: 250px;

  transition: border-color 0.3s ease; /*border-color가 0.3초 동안 부드럽게 바뀜 */

  background-image: url("/src/assets/search-icon-white.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  background-size: 15px;
}
.Header .searchBar::placeholder {
  color: white;
}

.Header .searchBar:focus {
  outline: none;
  border-bottom: 1px solid red;
}

.Header .nav .menu_left > a:hover,
.Header .nav .menu_left > a.active {
  color: white;
}

.Header.sticky {
  position: fixed;
  background-color: black;
  transition: background-color 0.5s ease;
}
