/* #app {
  height: 100%;
} */
/* html,
body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
} */

/* .swiper {
  width: 100%;
  height: 100%;
} */

.HomeMovieCarousel .swiper-slide img {
  /* display: block; */
  width: auto;
  height: 100%;
  object-fit: cover;
}

.HomeMovieCarousel .swiper {
  width: 100%;
  height: 350px;
  /* margin: 20px auto; */
  padding: 0px 80px;
}
.HomeMovieCarousel .append-buttons {
  text-align: center;
  margin-top: 20px;
}

.HomeMovieCarousel .append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

/* .slick-prev,
.slick-next {
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
} */

/* .HomeMovieCarousel {
  padding: 0px 50px;
} */

.HomeMovieCarousel .homeMovieCarousel_title {
  padding: 30px 50px;
  font-size: 2rem;
}

.HomeMovieCarousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.HomeMovieCarousel .swiper-wrapper {
  gap: 10px;
}

.HomeMovieCarousel .swiper-button-next,
.HomeMovieCarousel .swiper-button-prev {
  color: rgb(255, 0, 0); /* 원하는 색 */
  width: 40px; /* 크기 조절 가능 */
  height: 40px;
}
