.ZzimList {
  padding: 2% 5%;
}

.ZzimList > div {
  padding-top: 40px;
}

.zzimListDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.zzimList_linkA {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-size: 1rem;
}
