.MovieStaff {
  /* display: flex; */
}
.movieStaffNameWrap {
  /* border: solid 1px red; */
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px;
  margin-top: 10px;
  width: 100%;
}

.movieStaffName {
  display: flex;
  /* border: solid 1px blue; */
  width: 20%;
  align-items: baseline;
  gap: 3px;
  padding: 8px 0px;
  flex-direction: column;
}

.movieName {
  font-weight: 500;
}

.movieRole {
  font-size: 0.8rem;
  color: gray;
}
