.MovieCommentList {
  display: flex;
  flex-direction: column;
}

.comment_userImg {
  width: 35px;
  border-radius: 30px;
}

.comment_userInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment_name {
  font-size: 0.8rem;
  font-weight: bold;
}

.comment_content_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment_name_date {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.comment_liked {
  display: flex;
}

.comment_img {
  display: flex;
}

.comment_date {
  /* display: flex;
  justify-content: flex-end; */
  font-size: 0.8rem;
}

.comment_up_del {
  display: flex;
}

.comment_up_del > button {
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: white;
  color: rgb(101, 101, 101);
}
.comment_up_del_div {
  border: none;
  font-size: 0.8rem;
  color: rgb(101, 101, 101);
}
